# Don't push secrets to GitHub
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
.Python
*.so

# Environment
.env
venv/
env/

# OS
.DS_Store
Thumbs.db

# Virtual Environment
.venv/

# Dead database
chroma_db/